body {
  font-family: Montserrat;
  overflow-x: hidden;
}

#navbar {
  background-color: #c7d9e1;
  margin-top: -23px;
  border-bottom: 1px solid black;
}

.laboutique {
  position:absolute;
  z-index: 100;
  top: 50%;
  left: 27%;
  border-radius: 30px;
  height: 7%;
  width: 20%;
  text-transform: uppercase;
}

.btn-dark {
  position:absolute;
  z-index: 100;
  top:50%;
  left:55%;
  border-radius: 15px;
  height: 7%;
  width: 20%;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  #btnsavoir {
    top: 40%;
    left: 20%;
    height: 7%;
    width: 60%;
  }
  .laboutique {
    top: 30%;
    left: 20%;
    height: 7%;
    width: 60%;
  }
  .imgpres {
    max-height: 400px;
  }
  .has-animation {
    display:none;
  }
}

.imgpres {
  height:620px;
}

.navbar-default ul a:hover {
  background-color: rgba(233,75,80, 0.4);
}

#shoppingcart {
  /* float: left; */
}

.alert{
  display: none;
  position: fixed;
  top: 90%;
  left: 70%;
  z-index: 100000;
  width: 400px;
}
/****************************FIN NAVBAR*************************/
/***************************PRESENTATION************************/
.bigger {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
  position: relative;
  text-shadow: 1px 1px 1px;
}

.textpres {
  max-width: 600px;
  width: 100%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
  line-height: 15px;
  text-align: left;
  color: #FFF;
  padding: 20px;
}
.textpres.txt-center {
  text-align: center;
}

.titresavoir {
  position: absolute;
  top: 25%;
  left: 30%;
}

.textesavoir {
  position: absolute;
  top: 65%;
  left: 30%;
}

.has-animation {
  position: absolute;
}

.has-animation p, .has-animation img {
  opacity: 0;
}
.has-animation.animate-in p, .has-animation.animate-in img {
  animation: textHidden 0.1s 1.1s forwards;
}
.has-animation.animate-in:before, .has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
.has-animation.animate-in:before {
  background-color: #df4967;
}
.has-animation.animate-in:after {
  background-color: #1d2633;
  animation-delay: .5s;
}
.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR 1.8s ease;
}
.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR 1s .6s ease;
}
.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL 1.8s ease;
}
.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL 1s .6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/***************************FIN PRESENTATION********************/
/****************************BOUTIQUE***************************/

.item{
  text-align: center;
}
.itemImage{
  text-align: center;
}
.shoesName{
  text-align: center;
  margin: 0;
}
.nameShoes{
  font-weight: bold;
}
.price-container{
  text-align: center;
  font-size: 10px;
}
.price{
  font-weight: bold;
  font-size: 16px;
}
.euros{
  font-weight: bold;
  font-size: 16px;
}
.add{
  text-align: center;
}

#boutiique .hrItem{
  height: 1.5px;
  background-image: -webkit-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
        background-image: -moz-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
        background-image: -ms-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
        background-image: -o-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 15%, #ccc 85%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
        width: 30% !important;
    }
.refPrice .row p:nth-of-type(2){
  font-weight: 700;
}

#boutiique img{
  max-height: 200px;
}
h2{
  font-family: 'Montserrat', cursive;
  /* font-weight: bolder; */
  color: #454545;
  text-shadow: 0px 1px 1px grey;
}

/* #woman{
background: -webkit-linear-gradient(16deg, rgb(246, 162, 162), rgb(255, 255, 255));
background: linear-gradient(16deg, rgb(246, 162, 162), rgb(255, 255, 255));
} */
/****************************FIN BOUTIQUE***********************/
/****************************PANIER*****************************/
.item {
  width: 31%;
  float: left;
}

#cart-container {
  /* float: right; */
  /* width: 210px; */
  /* position: relative; */
}

#itemCount, #itemCount2 {
  display: none;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
  float: left;
}
i:hover {
  cursor: pointer;
}
.modal-dialog {
  max-width: 70%;
}
.modal-dialog img {
  max-height: 100px;
}
.modal-dialog input {
  max-width: 50px;
}
@media (max-width: 700px) {
  .modal-dialog {
    max-width: 90%;
  }
  .modal-dialog img {
    max-height: 70px;
  }
  #valider {
    width: 85%;
  }
  #maj {
    width: 80%;
  }
  .alert {
    top: 110%;
  }
}

#cartItems .itemDetails {
  margin-right: 50px;
}
#cartItemsContainer {
  position: relative;
  width: 600px;
  left: 50%;
  top: 150px;
  margin-left: -300px;
  padding: 40px;
  box-shadow: 0 0 10px black;
  background: #e9e9e9;
  overflow: auto;
}

#cartItemsContainer i {
  position: absolute;
  top: 20px;
  right: 20px;
}

#cartItemsContainer .itemDetails {
  overflow: auto;
  width: 100%;
  margin-bottom: 40px;
}

#cartItemsContainer .itemImage {
  float: left;
  width: 260px;
  padding: 0 40px;
}

#cartItemsContainer .itemText {
  float: right;
  width: 260px;
  padding: 0 40px;
}

#cartItemsContainer .itemText .price-container {
  margin-top: 0;
}

.removeItem {
  margin:auto;
  display:block;
}

.btn-primary {
  background-color:
}

#btnPanier {
  font-size: 1.3em;
}

/****************************FIN PANIER*************************/
/****************************MENTIONS LEGALES*******************/
.footer{
    color: white;
    background-color: #c91d61;
    background: linear-gradient(20deg,blue,crimson,purple);
    background-size: 1000% 1000% !important;
    -webkit-animation: colorChange 30s ease infinite;
    -moz-animation: colorChange 30s ease infinite;
    -o-animation: colorChange 30s ease infinite;
    animation: colorChange 30s ease infinite;
}
@-webkit-keyframes colorChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
#divFooter{
  margin-top: 20px;
}
#h1Chauss{
  font-size: 1.4rem;
}
#facebook{
font-size:30px;
}
#insta{
font-size: 30px;
margin: 0 20px 0 20px;
}
#twitter{
font-size: 30px;
}
.h4{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 200;
}
h6{
  font-size: 12px;
}
.mailto{
  font-size: 14px;
}
/****************************FIN MENTIONS LEGALES***************/
@media screen and (min-width: 200px) and (max-width: 780px) {
  #navbar{
    display: none;
  }
  #navbar2{
    display: block;
    text-align: center;
  }
  #shoppingcart {
    /* float: right; */
  }
  .dropdown-menu.show{
    text-align: center;
  }
  #modalFooter1{
    display: none;
  }
  #modalFooter2{
    margin-left: 2%;
  }
  #cartItems .itemDetails {
    margin-right: 0px;
  }
}
@media screen and (min-width: 781px) and (max-width: 2000px) {
  #navbar2{
    display: none;
  }
  #modalFooter2{
    display: none;
  }
}
